<BsNavbar class="m-0 p-1" {{did-insert this.init}} as |navbar|>
  <LinkTo @route="index" class="navbar-brand"><img width="100px" height="40px" src="/logo.png" /></LinkTo>
  <navbar.toggle />
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <input class="form-control" type="text" placeholder="Filter by text" aria-label="filter by text" 
          value={{this.textFilter}} {{on "keyup" this.filterByText }}>
      </nav.item>
      <nav.item>
        <BsDropdown style="margin: 0px 5px 0px 5px" as |dd|>
          <dd.button>Display: {{this.display}} <span class="caret"></span></dd.button>
          <dd.menu as |ddm|>
              <ddm.item>
              <ddm.linkTo {{on "click" (fn this.updateDisplay 'ID')}}>ID</ddm.linkTo>
              </ddm.item>
              <ddm.item>
              <ddm.linkTo {{on "click" (fn this.updateDisplay 'Status')}}>Status</ddm.linkTo>
              </ddm.item>
              <ddm.item>
              <ddm.linkTo {{on "click" (fn this.updateDisplay 'None')}}>None</ddm.linkTo>
              </ddm.item>
          </dd.menu>
        </BsDropdown>
      </nav.item>
      <nav.item>
        <BsDropdown style="margin: 0px 5px 0px 0px" as |dd| >
            <dd.button>Refresh: {{this.ReloadTime}} <span class="caret"></span></dd.button>
            <dd.menu as |ddm|>
                <ddm.item>
                <ddm.linkTo {{on "click" (fn this.updateReload 5)}}>Every 5s</ddm.linkTo>
                </ddm.item>
                <ddm.item>
                <ddm.linkTo {{on "click" (fn this.updateReload 10)}}>Every 10s</ddm.linkTo>
                </ddm.item>
                <ddm.item>
                <ddm.linkTo {{on "click" (fn this.updateReload 30)}}>Every 30s</ddm.linkTo>
                </ddm.item>
                <ddm.item>
                <ddm.linkTo {{on "click" (fn this.updateReload 60)}}>Every 1m</ddm.linkTo>
                </ddm.item>
                <ddm.item>
                <ddm.linkTo {{on "click" (fn this.updateReload 300)}}>Every 5m</ddm.linkTo>
                </ddm.item>
                <ddm.item>
                <ddm.linkTo {{on "click" (fn this.updateReload 0)}}>Never</ddm.linkTo>
                </ddm.item>
            </dd.menu>
        </BsDropdown>
      </nav.item>
      <nav.item>
        <nav.link-to @route="about">About</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
{{#if this.reloadTime}}
<BsProgress style="height: 1px;" as |pg| >
  <pg.bar @value={{this.timeToRefresh}} @minValue={{0}} @maxValue={{this.reloadTime}} aria-label="Loading" class="bg-warning" />
</BsProgress>
{{/if}}
