<span class="badge treeViewItem {{this.Style}} {{this.show}}" {{did-insert this.init}}>
    <BsTooltip>
        {{ @target.id }} ({{ @target.status}}% - {{@target.statusDescription}})
    </BsTooltip>
    <LinkTo @route="target" @query={{hash id=@target.id}}>
        {{ this.Value }}
    </LinkTo>
</span>