<div class="treeViewRoot p-2 {{if @showDetails 'treeViewDetails'}}">
    {{#if @showDetails}}
    <label style="font-size: large;">{{@target.description}}</label>
    <br>
    <label style="font-size: small;">{{@target.status}}% ({{@target.statusDescription}})</label>
        {{#if @target.url}}
        <br>
        <a href={{@target.url}}>Link</a>
        {{/if}}
    <br>
    <div style="margin-top: 5px;"></div>
    {{/if}}
    <TreeItem @target={{ @target }} />
</div>
{{#if @target.children}}
<div class="treeViewChildren">
    {{#each @target.children as |child|}}
    <TreeItem @target={{ child }} @parent={{@target.id}} />
    {{/each}}
</div>
{{/if}}